<div class="jumbotron4">
  <div class="center">
  <h1>WarShip!</h1>
  <%= form_with url: "/games", method: :post do |form| %>
  <button type="submit" name="button">New game</button>
  <% end %>
  </div>
</div>